@use 'sass:math';

@function fluid($max: 100, $min: 10) {
  $max-viewport-width: 1920;
  $min-viewport-width: 375;
  $max-size: $max;
  $min-size: $min;
  $max-width: $max-viewport-width;
  $min-width: $min-viewport-width;
  $slope: math.div($max-size - $min-size, $max-width - $min-width);
  $y-axis-intersection: -$min-width * $slope + $min-size;

  @return clamp(
    #{$min-size}px,
    #{$y-axis-intersection}px + #{math.div($slope * 100, 1)}vw,
    #{$max-size}px
  );
}