@mixin flex-center($is-inline: false, $is-column: false) {
  @if $is-inline {
    display: inline-flex;
  } @else {
    display: flex;
  }

  @if $is-column {
    flex-direction: column;
  }

  justify-content: center;
  align-items: center;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin hide {
  opacity: 0;
  visibility: hidden;
}

@mixin show {
  opacity: 1;
  visibility: visible;
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(0 0 0 0) !important;
  overflow: hidden !important;
}