@use '@/styles/helpers' as *;

.empty-error {
  display: flex;
  align-items: center;
  max-width: 900px;

  &__image {
    width: 340px;
    height: 480px;
  }

  &__title {
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    color: var(--text-primary);
  }
}