:root {
  color-scheme: light dark;

  // COLORS
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #a9a9a9;
  --color-gray-300: #6a7282;
  --color-gray-400: #4b5563;
  --color-gray-800: #333;
  --color-slate-400: #4a5565;
  --color-slate-500: #364153;
  --color-slate-700: #1e2939;
  --color-slate-800: #101828;

  // SHADOWS
  --shadow-card: 0 2px 4px 0 rgb(0 0 0 / 25%);

  // CONTAINER
  --container-width: 1920px;
  --container-padding-x: 45px;

  // FONTS
  --font-family-base: 'Lato';

  // ANIMATIONS
  --transition-duration: 0.25s;

  // BORDER RADIUS
  --border-radius-base: 12px;

  // ??
  --input-height: 59px;

  // --------------- LIGHT THEME ---------------
  // globals
  --page-bg: var(--color-gray-100);
  --text-primary: var(--color-gray-800);

  // buttons
  --button-primary-bg: var(--color-black);
  --button-primary-hover-bg: var(--color-gray-800);

  // inputs
  --input-bg: var(--color-white);
  --input-border: 1px solid var(--color-white);
  --input-focus-border: 1px solid var(--color-gray-800);
  --input-color: var(--color-gray-800);
  --input-shadow: var(--shadow-card);

  // task-item
  --task-item-bg: var(--color-white);
  --task-item-hover-border: 1px solid var(--color-black);

  // checkbox
  --checkbox-border: 2px solid var(--color-black);
}

// --------------- DARK THEME ---------------

[data-js-theme='dark'] {
  // globals
  --page-bg: var(--color-slate-800);
  --text-primary: var(--color-white);

  // buttons
  --button-primary-bg: var(--color-slate-400);
  --button-primary-hover-bg: var(--color-slate-500);

  // inputs
  --input-bg: var(--color-slate-500);
  --input-border: 1px solid var(--color-slate-400);
  --input-focus-border: 1px solid var(--color-white);
  --input-color: var(--color-white);
  --input-shadow: none;

  // task-item
  --task-item-bg: var(--color-slate-700);
  --task-item-hover-border: 1px solid var(--color-white);

  // checkbox
  --checkbox-border: 2px solid var(--color-white);
}